---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?participants=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78-EvwzXN8StKB3OvOr9+ik8X19ZZE"
    body:
      encoding: UTF-8
      string: '{"activity":"Compliment someone","type":"social","participants":2,"price":0,"link":"","key":"9149470","accessibility":0}'
  recorded_at: Sat, 25 Mar 2023 21:57:08 GMT
recorded_with: VCR 6.1.0
