---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?participants=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-ysXG7C2bo6/kjrkRnocrmhVtFeo"
    body:
      encoding: UTF-8
      string: '{"activity":"Cook something together with someone","type":"cooking","participants":2,"price":0.3,"link":"","key":"1799120","accessibility":0.8}'
  recorded_at: Sat, 25 Mar 2023 21:55:05 GMT
recorded_with: VCR 6.1.0
